@import '../../style/main';

.tag {
  background-color: $primary-color;
  color: $text-color-tertiary;
  padding: 5px 30px;
  border-radius: 10px;
  font-family: $primary-font;
  font-weight: 700;
  font-size: 0.875rem;
}

@media (max-width: 768px) {
  .tag {
    padding: 5px 20px;
    font-size: 0.75rem;
    border-radius: 8px;
  }
}