@import '../../style/main';

.rating {
    display: flex;
    gap: 5px;
  }
  
  .filled-star {
    color: $primary-color;
    font-size: 24px;
  }
  
  .empty-star {
    color: $secondary-color;
    font-size: 24px;
  }