@import '../../style/main';

.host-info {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .host-info span {
    color: $text-color-primary;
    font-size: 1.125rem;
  }
  
  .host-image {
    width: 64px;
    height: 64px;
    border-radius: 50%;
  }

  @media (max-width: 768px) {
    .host-info {
      align-items: center;
      gap: 5px;
    }
  
    .host-info span {
      font-size: 1rem;
    }
  
    .host-image {
      width: 48px;
      height: 48px;
    }
  }