.carrousel {
    position: relative;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
  }
  
  .carrousel-image {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
  }
  
  .prev,
  .next {
    position: absolute;
    background: none;
    top: 50%;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 70px;
    transform: translateY(-50%);
  }
  
  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }