// Palette principale
$primary-color: #FF6060;
$secondary-color: #F6F6F6;
$tertiary-color: #000000;
$background-color: #ffff;

// Couleurs de texte
$text-color-primary: #FF6060;
$text-color-secondary: #000000;
$text-color-tertiary: #ffff;