@import '../../style/main';

.about-page {
  margin-bottom: 30px;
}

.accordion {
  margin: 10px auto;
  width: 90%;
  padding: 10px;
  
  &.open {
    .accordion-header {
      background-color: $primary-color;
    }
  }

  font-family: $primary-font;
  color: $text-color-secondary;

  .accordion-header {
    background-color: $primary-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    color: $text-color-tertiary;
    font-weight: 700;
    font-size: 0.938rem;
    height: 54px;
    border-radius: 5px;
    padding: 0 20px;

    .accordion-icon {
      font-size: 1.25rem;
      transition: transform 0.3s ease;
    }

    .rotate {
      transform: rotate(180deg);
    }
  }

  .accordion-content {
    padding: 5px 0 5px 30px;
    background-color: $secondary-color;
    font-size: 0.875rem;
    border-radius: 0 0 5px 5px;
  }
}

@media (max-width: 768px) {
  .accordion {
    padding: 5px;
    max-width: 95%;

    .accordion-header {
      font-size: 0.875rem;
      height: 45px;
      padding: 0 15px;
    }

    .accordion-icon {
      font-size: 1.125rem;
    }

    .accordion-content {
      padding: 5px 0 5px 20px;
      font-size: 0.813rem;
    }
  }
}