@import "../../style/main";

.about-page {
  margin-bottom: 30px;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 15px;
}

.accordion {
  margin: 15px auto;
  width: 100%;
  padding: 0px;

  &.open {
    .accordion-header {
      background-color: $primary-color;
    }
    .accordion-content {
      max-height: 200px;
      padding: 5px 20px;
      opacity: 1;
      
    }
  }

  font-family: $primary-font;
  color: $text-color-secondary;

  .accordion-header {
    background-color: $primary-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    color: $text-color-tertiary;
    font-weight: 700;
    font-size: 0.938rem;
    height: 54px;
    border-radius: 5px;
    padding: 0 20px;

    .accordion-icon {
      font-size: 1.25rem;
      transition: transform 0.3s ease;
    }

    .rotate {
      transform: rotate(180deg);
    }
  }

  .accordion-content {
    max-height: 0;
    overflow: hidden;
    padding: 0 20px;
    background-color: $secondary-color;
    font-size: 0.875rem;
    border-radius: 0 0 5px 5px;
    opacity: 0;
    transition: max-height 0.5s ease, padding 0.5s ease, opacity 0.5s ease;
   }
  
}

@media (max-width: 768px) {
  .about-page {
    width: 90%;
  }

  .accordion {
    margin: 15px auto;
    max-width: 100%;
    gap: 15px;
    margin: 0;

    .accordion-header {
      font-size: 0.875rem;
      height: 45px;
      padding: 0 15px;
    }

    .accordion-icon {
      font-size: 1.125rem;
    }

    .accordion-content {
      padding: 5px 0 5px 20px;
      font-size: 0.813rem;
    }
  }
}
